<div class="MainContainer">

    <mat-card>
        <mat-card-header>
            <mat-card-title class="HeadingStyle">Login form</mat-card-title>
            <mat-card-subtitle class="Subtext">Login to access your Account</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="ContentContainer">

            <form [formGroup]="registerForm" class="FormContent" (ngSubmit)="LoginClick()">
                <!-- <div class="DataInput">
                    <input type="text" placeholder="Name">
                </div>
    
                <div class="DataInput">
                    <input type="text" placeholder="Email">
                </div> -->

                <mat-form-field appearance="fill">
                    <mat-label>email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>

                <div class="bottomPart">
                    <mat-slide-toggle color="primary">Remember me</mat-slide-toggle>
                    <button type="submit" mat-flat-button color="primary">
                        <div class="InButton"><img src="../../../assets/login.png" alt="Login">Login</div>
                    </button>
                </div>
            </form>

        </mat-card-content>

        <mat-card-footer>
            <a href="#" class="AnchorTagStyle">Forgot password?</a>
            <span>Don't have an account?<a routerLink="/signup" class="AnchorTagStyle">Sign up!</a></span>
        </mat-card-footer>
    </mat-card>

</div>