<div class="TitleContainer">
    <span class="Heading">Appointments</span>
</div>

<div class="TableContainer">
    <!-- <table class="MainTable">
        <thead>
            <tr class="TableHeadders">
                <th class="ProfilePicColomn">Photo</th>
                <th class="TableHeaderTextStyle NameColomn">Name</th>
                <th class="TableHeaderTextStyle GenderColomn">Email</th>
                <th class="TableHeaderTextStyle DepartmentColomn">Date</th>
                <th class="TableHeaderTextStyle SalaryColomn">Visit Time</th>
                <th class="TableHeaderTextStyle StartDateColomn">Doctor</th>
                <th class="TableHeaderTextStyle StartDateColomn">Injury</th>
                <th class="TableHeaderTextStyle ActionsColomn">Actions</th>
            </tr>
        </thead>

        <tbody class="TableBody">
            <tr class="UserDataRow">
                        <td class="ProfilePicColomn"><img src="../assets/Ellipse -1.png" alt="Pic1"></td>
                        <td class="UserDataText NameColomn">Example</td>
                        <td class="UserDataText GenderColomn">Female</td>
                        <td class="DepartmentColomn"><div class="UserDataDept"><span class="DeptStyle">Sales</span><span class="DeptStyle">HR</span><span class="DeptStyle">Finance</span></div></td>
                        <td class="UserDataText SalaryColomn">₹50,000</td>
                        <td class="UserDataText StartDateColomn">02 Mar 2023</td>
                        <td class="ActionsColomn"><div class="UserDataActions"><img src="../assets/delete-black-18dp.svg" alt="Delete"><img class="EditImage"src="../assets/create-black-18dp.svg" alt="Edit"></div></td>
                    </tr>

        </tbody> 

    </table>-->
</div>