<div class="MainContainer">

    <mat-card>
        <mat-card-header>
            <mat-card-title class="HeadingStyle">Sign up</mat-card-title>
            <mat-card-subtitle class="Subtext">Create your Account</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="ContentContainer">

            <form [formGroup]="registerForm" class="FormContent" (ngSubmit)="Logger()">

                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>

                <mat-card-actions class="bottomPart">
                    <mat-slide-toggle color="primary" required="true" [(ngModel)]="checked">I agree to the Terms and Privacy.</mat-slide-toggle>
                    <button type="submit" mat-flat-button color="primary" [disabled]="checked"><div class="InButton"><img src="../../../assets/add-24px.svg" alt="Add">Register</div></button>
                </mat-card-actions>
            </form>

        </mat-card-content>

        <mat-card-footer>
            <span>Have an account?<a routerLink="/login">Sign in!</a></span>
        </mat-card-footer>
    </mat-card>

</div>
